
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <h3>Sign up Here</h3>

  <!-- Name -->
  <label for="name">Name</label>
  <input type="text" formControlName="name" placeholder="Full name" id="name" />
  @if (registerForm.get('name')?.invalid && registerForm.get('name')?.touched) {

  <div>
    @if (registerForm.get('name')?.errors?.['required']) {
    <small class="valid-text">Name is required</small>
    }
  </div>
  }

  <!-- Email-->
  <label for="email">Email</label>
  <input type="email" formControlName="email" placeholder="Email " id="email" />
  @if (registerForm.get('email')?.invalid && registerForm.get('email')?.touched)
  {

  <div>
    @if (registerForm.get('email')?.errors?.['required']) {
    <small class="valid-text">Email is required</small>
    } @if (registerForm.get('email')?.errors?.['email']) {
    <small class="valid-text">Invalid email format..</small>
    }
  </div>
  }

  <!-- password -->
  <label for="password">Password</label>
  <input
    type="password"
    formControlName="password"
    placeholder="Password"
    id="password"
  />
  @if(registerForm.get('password')?.invalid &&
  registerForm.get('password')?.touched){

  <div>
    @if (registerForm.get('password')?.errors?.['required']) {
    <small class="valid-text">Password is required</small>
    } @if (registerForm.get('password')?.errors?.['minlength']) {
    <small class="valid-text"> Password must be at least 6 characters </small>
    }
  </div>
  }

  <!-- Register Button -->
  <button class="min-btn" type="submit" [disabled]="registerForm.invalid">
    Register
  </button>
 

  <div class="social">
    <p>I have an account <strong class="link-btn" (click)="onClick()">Login</strong></p>
  
  </div> 
</form>
