<form [formGroup]="editTaskFrom" (ngSubmit)="onSubmit()">
  <h3>Edit Task</h3>

  <!-- task-->
  <label for="title">Task title</label>
  <input type="text" formControlName="title" placeholder="title" id="title" />
  @if (editTaskFrom.get('title')?.invalid && editTaskFrom.get('title')?.touched)
  {

  <div>
    @if (editTaskFrom.get('title')?.errors?.['required']) {
    <small>Task name is required.</small>
    }
  </div>
  }
  <!-- task-->
  <label for="description">Description</label>
  <!-- <input
  
  /> -->
  <textarea
    class="inputTask"
    type="text"
    formControlName="description"
    placeholder="Description"
    id="description"
  ></textarea>
  <!-- completed section -->
<div class="completed-section">
  <input
    type="checkbox"
    class="task-completed-checkbox completed-check"
    formControlName="completed"
    id="completed"
  />
  <label class="completed-lab" for="completed">Completed</label>
</div>

  <!-- submit button -->
  <button class="min-btn" type="submit" [disabled]="editTaskFrom.invalid">
    Submit
  </button>
</form>
